<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacTextView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D63525F52F6B41C700BDDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63526062F6B41C900BDDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D63526102F6B41CA00BDDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
